/* Styles used for testing the article page - moved to CMS */

/* Articles */
/* .article-header {
    height: 400px;
    background-color: #032d48;
}

.article-title {
    position: relative;
    left: 15%;
    top: 70%;
    font-size: 32pt;
    color: white;
}

.article-hero {
    position: relative;
    right: -10%;
    top: 10%;
}

.article-hero img {
    border-radius: 40px;
}

.article-byline {
    position: relative;
    left: 15%;
    top: 70%;
    width: 10%;
    min-width: 400px;
    margin-top: 20px;
    font-size: 16pt;
    text-align: center;
}

.article-byline .author-headshot img {
    border-radius: 50%;
}

.article-byline .author-name {
    font-size: 18pt;
}

.article-byline .article-updated {
    font-size: 14pt;
    color: #032d48;
}

.article-facts,
.article-cta,
.article-solutions {
    margin: 25px auto;
    padding: 25px;
    width: 90%;
}

.article-cta {
    text-align: center;
}

.article-cta button {
    background-color: #6bbdd1;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 25px 50px;
    width: 300px;
    font-size: 16pt;
} */
/* End of articles */
