/* Styles used for testing the article page - moved to CMS */

/* Articles */
.article-main .header {
    height: 400px;
    background-color: #032d48;
}

.article-main .article-title {
    position: relative;
    left: 15%;
    top: 70%;
    font-size: 32pt;
    color: white;
}

.article-main .article-hero {
    position: relative;
    right: -10%;
    top: 10%;
}

.article-main .article-hero img {
    border-radius: 40px;
    max-height: 450px;
}

.article-main .article-byline {
    position: relative;
    left: 15%;
    top: 70%;
    width: 10%;
    min-width: 400px;
    margin-top: 20px;
    font-size: 16pt;
    text-align: center;
}

.article-main .article-byline .author-headshot img {
    border-radius: 50%;
}

.article-main .article-byline .author-name {
    font-size: 18pt;
}

.article-main .article-byline .article-updated {
    font-size: 14pt;
    color: #032d48;
}

.article-main .author,
.article-main .facts,
.article-main .call-to-action,
.article-main .solutions {
    margin: 10px auto; /* This needs to have "auto" on the left/right */
    padding: 10px;
    width: 90%;
    max-width: 1200px;
}

.article-main .article-cta {
    text-align: center;
}

.article-main .article-cta button {
    background-color: #6bbdd1;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 25px 50px;
    width: 300px;
    font-size: 16pt;
}
/* End of articles */
